#login-modal {
    .login-modal__text {
        color: $dark-grey;
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        white-space: pre-line;
    }
    .login-modal__text--header {
        font-size: 16pt;
        font-weight: 800;
        letter-spacing: -1px;
        text-align: center;
        color: $darker-grey;
    }
    .login-modal__row--password {
        margin-top: 40px;
    }
    .login-modal__text--password {
        text-align: center;
        margin-top: 20px;
        color: $grey;
        & > span {
            color: $dark-grey;
            font-weight: 800;
        }
    }
}
