#login-modal {
    .login-modal__row--password {
        margin-top: 40px;
    }
    .login-modal__text--password {
        text-align: center;
        margin-top: 20px;
        color: $grey;
        & > span {
            color: $dark-grey;
            font-weight: 800;
        }
    }
}
