<ion-view id="walkthrough">

  <ion-content 
    class="hasFullSlider"
    scroll="false"
  >

    <ion-slide-box>

      <ion-slide id="firstImg" class="full">
        <img class="logo"src="img/01_logo.png">
        <h1 class="heading">누구나 자유로운 설문</h3>
        <p class="para">누구나 쉽고 빠르게\n설문을 직접 만들고 참여할 수 있어요</p>
        <div class="row flex">
          <button class="button next"
            ng-click="vm.next()"
          >
            다음으로
          </button>
        </div>
      </ion-slide>

      <ion-slide id="secondImg" class="full">
        <img class="logo"src="img/02_logo.png">
        <h1 class="heading">그룹으로 지속적으로</h3>
        <p class="para">회사, 학교, 동호회 등\n다양한 소속 회원들과 그룹을 만들고\n지속적인 설문 서비스를 누릴수 있어요</p>
        <div class="row flex">
          <button class="button next margin-top"
            ng-click="vm.next()"
          >
            다음으로
          </button>
        </div>
      </ion-slide>

      <ion-slide id="thirdImg" class="full"
        on-drag-left="vm.next('login')"
      >
        <img class="logo"src="img/03_logo.png">
        <h1 class="heading">우리 동네 사람들에게</h3>
        <p class="para">'지금여기'서비스로 같은 지역내에 있는\n이용자들과 실시간으로\n설문을 나누어 보세요</p>
        <div class="row flex">
          <button class="button next margin-top"
            ng-click="vm.next('login')"
          >
            시작하기
          </button>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>
